@import "./variables.less";

.home--header{
  text-align: center;
}
.introduction--trio{
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.how-it-works--steps{
  display: flex;
  flex-direction: column;
}
.steps--step1, .steps--step3{
  text-align: right;
}
.get-started--more-info{
  display: flex;
  flex-direction: row;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.signupForm--container{
  .signuoForm--submit{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    display: block;
  }
}
#pre-footer-graphic{
  max-width: 100%;
}
.home--footer{
  background-color: @dkblue;
}
.footer--navigation-column-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .column-group--column{
    list-style: none;
    padding: 0;
  }
}
.footer--legal-text{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .legal-text--column{
    width: 48%;
  }
}